* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #c0c0c0; 
    color: #333;
}

.perfil {
    background-color: #550947; 
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 5px solid white;
    margin-bottom: 15px;
}

.perfil h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.perfil p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.links-sociais a {
    color: white;
    text-decoration: none; 
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.links-sociais a:hover {
    color: #000000; 
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.secao {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.secao h2 {
    color: #550947;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.item-experiencia, .item-formacao, .item-projeto {
    margin-bottom: 25px;
    padding: 15px;
    border-left: 4px solid #550960;
}

.item-experiencia h3, .item-formacao h3, .item-projeto h3 {
    margin-bottom: 5px;
    font-size: 1.3em;
}

.instituicao-data {
    font-style: italic;
    color: #454545;
    margin-bottom: 10px;
}

.item-experiencia ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.lista-habilidades {
    list-style-type: none; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.lista-habilidades li {
    background-color: #e9ecef;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    color: #333;
}

.item-certificados a {
    display: inline-block;
    margin-top: 10px;
    color: #550947;
    text-decoration: none;
    font-weight: bold;
}

.item-certificados a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
    font-size: 0.9em;
}